/* defines custom css-selectors that can't be defined with CSS-in-JS */

.primary:hover {
  background-color: #9a50d4 !important;
}

.outline:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.transparent:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.secondary:hover {
  background-color: #9ba0a5 !important;
}
